.wrapper {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 78vh;
  padding-bottom: 25px;

  img {
    margin-top: 60px;
  }
}

.author {
  border: 1px solid;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 120px;
  font-size: 12px;
}

.recommendation {
  white-space: nowrap;
}

.recommendation_wrapper {
  overflow: auto;
  margin-bottom: 10px;
}

.history_wrapper {
  left: 20px;
  margin-top: 40px;
  position: absolute;
}

.history_title_wrapper {
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.history_content_wrapper {
  margin-top: 35px;
  // border: 1px solid green;
}

.history_content {
  // border: 1px solid blue;
  height: 85px;
}
