$time-color: #8d8d8d;
$history-title-color: #8d8d8d;
$delete-history-background-color: #8afb88;

.wrapper {
  // margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 78vh;
  padding-bottom: 25px;
  max-width: 650px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  img {
    margin-top: 60px;
  }
}

.author {
  border: 1px solid;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 120px;
  font-size: 12px;
}

.recommendation {
  white-space: nowrap;
}

.recommendation_wrapper {
  overflow: auto;
  margin-bottom: 10px;
}

.history_wrapper {
  left: 20px;
  margin-top: 40px;
  position: absolute;
  font-style: italic;
  font-size: 10px;
}

.history_title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 155px;
}

.history_title {
  color: $history-title-color;
}

.history_content_wrapper {
  margin-top: 25px;
  // border: 1px solid green;
}

.history_content {
  // border: 1px solid blue;
  height: 65px;
}

.time {
  color: $time-color;
  font-size: 8px;
}

.clear_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 25px;
  border-radius: 15px;
  background: $delete-history-background-color;
}
