.wrapper {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  background-color: #e1e1e1;
  color: black;
  z-index: 1;
  padding: 20px;
  border-radius: 5px;
}

.title {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 10px;
}

.popupImage {
}

.whatIveDoneList {
  margin-left: 17px;

  li {
    margin-bottom: 20px;
  }
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.line {
  height: 3px;
  background: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mission_title {
}

.mission_desc {
  font-size: 14px;
  font-weight: 300;
}
