.whole_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.left_wrapper {
  border: 1px solid;
  display: flex;
  align-items: center;

  .work_btn,
  .info_btn {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  .work_btn {
    border-right: 1px solid;
  }
}

.clicked {
  background: #8afb88;
}
