.wrapper {
  position: fixed;
  right: 20px;
  bottom: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 16px;
  color: white;
  background-color: black;
}

