.what_i_have_done_title {
  border-bottom: 1px solid;
  padding-left: 15px;
  margin-top: 40px;
}

.what_i_have_done_list {
  margin-top: 40px;
  margin-left: 35px;
  margin-bottom: 100px;
}

.image {
  border: 1px solid black;
}

.img_block {
  border-top: 1px solid;
  border-bottom: 1px solid #000;
  margin-top: 40px;
  padding: 30px;
  background: #cecece;
}

.title {
  border-bottom: 1px solid;
  padding-left: 15px;
  padding-top: 10px;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  padding: 0 15px 0 15px;
}

.task {
  margin-bottom: 30px;
  margin-right: 15px;
}

.task_title {
  margin-bottom: 5px;
}

.task_desc {
  font-size: 15px;
}

.a {
  text-decoration: none;
  color: black;
}
